@font-face {
  font-family: "Source Sans Pro Black";
  src: url("../fonts/SourceSansPro-Black.eot?") format("eot"), url("../fonts/SourceSansPro-Black.woff") format("woff"), url("../fonts/SourceSansPro-Black.ttf") format("truetype"), url("../fonts/SourceSansPro-Black.svg#SourceSansPro-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular.eot");
  src: url("../fonts/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
