@media (min-width: 768px) {
  header {

    .logo {
      position: relative;

      p {
        position: absolute;
        right: 0;
        top: 28px;
      }
    }
  }

  main .container {

    .property .row {
      margin-right: 0;

      .address .row {

        .text {
          margin-left: 45px;
        }
      }

      .price {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        width: 33%;
        float: right;
        margin-top: 0;
      }
    }

    .re_open {

      .negotiate {

        .button {

          button {
            float: right;
            position: relative;
            top: -10px;
          }
        }
      }

      .offer {

        .submit {

          button {
            float: right;
          }
        }
      }
    }
  }

  footer {

    .collapse {

      .navbar-nav {
        margin-top: 11px;

        li a {
          padding: 0px 15px;
          border-right: 1px solid white;
        }

        li:first-of-type a {
          padding-left: 0 !important;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  header .container,
  main .container,
  footer .container {
    width: 901px;
  }

  main .container {

    .buyer-offer-response {

      .buyer-offer,
      .response {
        width: 435px;
      }

      .buyer-offer {
        margin-right: 30px;
      }
    }
  }

  footer {

    .container {
      padding: 0;

      .navbar {

        .container-fluid {

          #myNavbar,
          .socials {
            display: inline-block !important;
          }

          #myNavbar {
            width: 70%;
          }

          .socials {
            width: 25%;
          }
        }
      }
    }
  }
}