@import './_variables.scss';
@import './_mixins.scss';

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background: #f1f2f2;
  padding: 20px 0;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(176, 176, 176, 0.4);

  .welcome {
    padding: 0;

    p {
      color: $popular_color;
      font: 13pt $fontArialRegular;

      .ezie {
        font: 100 34pt $fontArialRegular;
      }

      .unicode {

        &:after {
          content: '\00AE';
          position: relative;
          top: -22px;
          font-size: 13pt;
        }
      }

      .system {
        font: 20pt $fontArialRegular;
      }
    }
  }
  .logo {
    color: $popular_color;

    p {
      font: bold 20pt $fontSourceSansProBlack;
    }
  }
}

main {

  .container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 41px;

    .status {
      background: #ed1c24;
      padding: 7px 0 11px 43px;
      margin-bottom: 10px;

      p {
        color: white;
        font: bold 17pt $fontSourceSansProBlack;

        span {
          margin-left: 5px;
          font: 20pt $fontArialRegular;
        }
      }
    }

    .property {
      border: 1px solid #990099;
      padding: 25px 40px;

      h1 {
        color: #550066;
        font: bold 17pt $fontSourceSansProBlack;
      }

      hr {
        display: block;
        margin-bottom: 25px;
        border-top: 1px solid #acacac;
      }

      .row {
        margin: 0;

        .address {
          padding: 0;

          .row {
            margin: 0;

            .image {
              padding: 0;
            }

            .text {
              display: table;
              margin: 10px 0 0 0;
              padding: 0;
              color: #550066;
              font: bold 16pt $fontSourceSansProBlack;
              line-height: 20px;
            }
          }
        }

        .price {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: baseline;
          -ms-flex-align: baseline;
          align-items: baseline;
          margin-top: 10px;
          padding: 0;

          .asking {
            font: 10pt $fontArialRegular;
            color: $popular_color;
          }

          .cost {
            font: bold 17pt $fontSourceSansProBlack;
            color: #550066;
          }

          .button_view {
            margin-top: 5px;

            button {
              background: #aaaaaa;
              outline: none;
              border: none;
              padding: 8px 10px;
              border-radius: 10px;
              font: 9pt $fontArialRegular;
              color: white;
              cursor: pointer;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .buyer-detail {
      overflow: hidden;
      padding: 25px 40px 30px 40px;
      margin: 28px 0;
      border: 1px solid #a5a5a5;

      .heading {
        display: inline-block;
        padding: 0;
        width: 92%;
        color: #550066;
        font: bold 20pt $fontSourceSansProBlack;
      }

      .spoiler {
        position: relative;
        display: inline-block;
        margin-top: 10px;

        span {
          color: #990099;
          font: 10pt $fontArialRegular;
          cursor: pointer;
        }

        &:hover {
          text-decoration: none;
          cursor: pointer;
        }

        .arrow_top,
        .arrow_bottom {
          position: absolute;
          top: 8px;
          right: -17px;
        }

        .arrow_bottom {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }

      .table {
        margin-top: 10px;
        padding-top: 25px;
        border-top: 1px solid #acacac;

        table tbody tr {

          td {
            text-align: left;
            font: 12pt $fontArialRegular;

            &:first-of-type {
              color: #550066;
            }

            &:last-of-type {
              color: #424242;
            }
          }

        }
      }
    }

    .buyer-offer-response {
      margin: 0;

      .buyer-offer {
        overflow: hidden;
        width: 100%;
        padding: 25px 40px 30px 40px;
        margin: 28px 0;
        border: 1px solid #a5a5a5;

        .heading {
          color: #550066;
          font: bold 20pt $fontSourceSansProBlack;
        }

        hr {
          border-top: 1px solid #acacac;
        }

        .cost {
          font: bold 20pt $fontSourceSansProBlack;
        }

        .subject {
          display: block;
          margin: 10px 0 18px 0;
          color: #424242;
          font: 8pt $fontArialRegular;
        }

        .row {
          margin: 0;

          .date_time,
          .button {
            padding: 0;
          }

          .button {

            button {
              background: #aaaaaa;
              outline: none;
              border: none;
              padding: 8px 10px;
              border-radius: 10px;
              font: 8pt $fontArialBold;
              color: white;
              cursor: pointer;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .date_time {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            float: right;
            margin: 6px 0 0 25px;
            font: 9pt $fontArialRegular;
            color: #550066;

            .date {
              display: block;
              margin-right: 13px;
            }
          }

        }
      }

      .response {
        overflow: hidden;
        padding: 25px 40px 30px 40px;
        margin: 28px 0;
        width: 100%;
        background: #e8e8e8;
        border: 2px solid #ed1c24;
        color: #ed1c24;

        .heading {
          color: #ed1c24;
          font: bold 20pt $fontSourceSansProBlack;
        }

        hr {
          border-top: 1px solid #acacac;
        }

        .acceptance {
          font: 16pt $fontArialBold;
        }

        .row {
          margin: 0;

          .date_time,
          .button {
            padding: 0;
          }

          .button {

            button {
              background: #aaaaaa;
              outline: none;
              border: none;
              margin-top: 18px;
              padding: 8px 10px;
              border-radius: 10px;
              font: 8pt $fontArialBold;
              color: white;
              cursor: pointer;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .date_time {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            float: right;
            margin: 24px 0 0 25px;
            font: 9pt $fontArialRegular;
            color: #550066;

            .date {
              display: block;
              margin-right: 13px;
            }
          }

        }

      }
    }

    .re_open {
      overflow: hidden;
      padding: 25px 40px;
      margin-bottom: 131px;
      border: 1px solid #990099;

      .heading {
        color: #550066;
        font: bold 20pt $fontSourceSansProBlack;
      }

      hr {
        display: block;
        margin-bottom: 25px;
        border-top: 1px solid #acacac;
      }

      .negotiate {
        margin: 0;
        padding: 29px;
        border: 1px solid #acacac;

        .text,
        .button {
          padding: 0;
        }

        .text {
          color: #550066;
          font: 13pt $fontArialBold;
        }

        .button {
          margin-top: 16px;

          button {
            float: left;
            background: #990099;
            outline: none;
            border: none;
            padding: 10px;
            border-radius: 10px;
            font: bold 10pt $fontArialRegular;
            color: white;
            cursor: pointer;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .offer {
        margin: 0 0 16px 0;

        p {
          display: block;
          margin-bottom: 16px;
          color: #550066;
          font: bold 13pt $fontSourceSansProBlack;
        }

        .input,
        .submit {
          padding: 0;
        }

        .input {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-bottom: 16px;

          .pound {
            color: #979797;
            font: 20pt $fontArialRegular;
          }

          #incorrect_input {
            display: none;
            color: red;
            font: bold 34pt $fontArialBold;
          }

          input {
            display: block;
            width: 90%;
            margin-left: 8px;
            padding-left: 10px;
            border-radius: 10px;
            border: 1px solid #979797;
            font: 23pt $fontArialBold;

            &:hover {
              cursor: pointer;
            }

            &:focus {
              outline: none;
            }
          }
        }

        .submit {

          button {
            float: left;
            border: none;
            outline: none;
            border-radius: 10px;
            padding: 10px 13px;
            font: 17pt $fontArialBold;
            background: #00aeef;
            color: white;
            cursor: pointer;

            &:hover {
              cursor: pointer;
              border: none;
              outline: none;
            }

            &:focus {
              border: none;
              outline: none;
            }
          }
        }
      }

      .add_comments {

        button {
          outline: none;
          border: none;
          padding: 8px 10px;
          margin-left: 30px;
          border-radius: 10px;
          background: #990099;
          color: white;
          font: 11pt $fontArialBold;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

footer {
  background: #545353;

  .navbar {
    background: #545353;
    margin-bottom: 0;
    border-radius: 0;
    border: none;

    .container-fluid {
      padding: 0;

      .navbar-toggle {
        float: left;
        margin-left: 10px;
      }

      .navbar-header,
      .socials {
        display: inline-block !important;
      }

      .collapse {
        padding: 0;

        .navbar-nav {

          a {
            color: white;
            font: 11pt $fontArialRegular;
          }
        }
      }

      .socials {
        width: 70%;
        float: right;

        .navbar-nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          float: right;

          a {
            font-size: 16pt;
            margin-top: -7px;

            i {
              color: #bbbabb;
              cursor: pointer;

              &:hover {
                color: white;
                cursor: pointer;
                -webkit-transform: rotate(-360deg);
                -ms-transform: rotate(-360deg);
                transform: rotate(-360deg);
                -webkit-transition: transform 0.6s;
                -ms-transition: transform 0.6s;
                -o-transition: transform 0.6s;
                transition: transform 0.6s;
              }
            }
          }
        }
      }
    }
  }
}